Configuration(
    files: {
        "../README.md":  [
            "header.md",
            "docs.md",
            "https://github.com/khonsulabs/.github/raw/main/snippets/readme-footer.md",
        ],
        "../src/.crate-docs.md":  (
            for_docs: true,
            sections: [
                "docs.md",
            ]
        ),
        "../CONTRIBUTING.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CONTRIBUTING.md",
        ],
        "../CODE_OF_CONDUCT.md":  [
            "https://github.com/khonsulabs/.github/raw/main/docs/CODE_OF_CONDUCT.md",
        ],
        "../LICENSE-APACHE":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-APACHE",
        ],
        "../LICENSE-MIT":  [
            "https://github.com/khonsulabs/.github/raw/main/licenses/LICENSE-MIT",
        ],
    },
    glossaries: [
        "https://github.com/khonsulabs/.github/raw/main/snippets/glossary.ron",
        {
            "docs-base": (
                default: "https://khonsulabs.github.io/justjson/main/justjson",
                release: "https://docs.rs/justjson",
            ),
            "src-base": (
                default: "https://github.com/khonsulabs/justjson/blob/main",
                release: "https://github.com/khonsulabs/justjson/blob/v0.3.0",
            ),
            "value": (
                default: "https://khonsulabs.github.io/justjson/main/justjson/enum.Value.html",
                release: "https://docs.rs/justjson/*/justjson/enum.Value.html",
                for_docs: "crate::Value",
            ),
            "string": (
                default: "https://khonsulabs.github.io/justjson/main/justjson/struct.JsonString.html",
                release: "https://docs.rs/justjson/*/justjson/struct.JsonString.html",
                for_docs: "crate::JsonString",
            ),
            "number": (
                default: "https://khonsulabs.github.io/justjson/main/justjson/struct.JsonNumber.html",
                release: "https://docs.rs/justjson/*/justjson/struct.JsonNumber.html",
                for_docs: "crate::JsonNumber",
            ),
            "document": (
                default: "https://khonsulabs.github.io/justjson/main/justjson/doc/type.Document.html",
                release: "https://docs.rs/justjson/*/justjson/doc/type.Document.html",
                for_docs: "crate::doc::Document",
            ),
            "heapless-document": (
                default: "https://khonsulabs.github.io/justjson/main/justjson/doc/type.HeaplessDocument.html",
                release: "https://docs.rs/justjson/*/justjson/doc/type.HeaplessDocument.html",
                for_docs: "crate::doc::HeaplessDocument",
            ),
            "generic-document": (
                default: "https://khonsulabs.github.io/justjson/main/justjson/doc/struct.GenericDocument.html",
                release: "https://docs.rs/justjson/*/justjson/doc/struct.GenericDocument.html",
                for_docs: "crate::doc::GenericDocument",
            )
        }
    ],
)