name: Benchmarks

on: [push, pull_request]

jobs:
  benchmark:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v2

      - name: Install Rust
        uses: hecrj/setup-rust-action@v1

      - name: Build benchmarks
        run: |
          cargo bench -p benchmarks --all-features --no-run
        env:
          RUSTFLAGS: "-C target-cpu=native"

      - name: Run benchmarks
        run: |
          cargo bench -p benchmarks --all-features
        env:
          RUSTFLAGS: "-C target-cpu=native"
